<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Coba</title>
</head>
<body><div id="div1" style="display: block;">
    This is the first div.
  </div>
  
  <div id="div2" style="display: none;">
    This is the second div.
  </div>
  
  <button onclick="toggleDivs()">Toggle Divs</button>
  
  <script>
    function toggleDivs() {
      var div1 = document.getElementById("div1");
      var div2 = document.getElementById("div2");
      if (div1.style.display === "none") {
        div1.style.display = "block";
        div2.style.display = "none";
      } else {
        div1.style.display = "none";
        div2.style.display = "block";
      }
    }
  </script>  
</body>
</html>