<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Edit Profil</title>
</head>
<script>
    function showPassword(id) {
      var password = document.getElementById(id);
      if (password.type === "password") {
        password.type = "text";
      } else {
        password.type = "password";
      }
    }
</script>
<body">
    <div class="bg-[#263159] min-h-screen p-10 flex flex-col justify-between">
        <div class="flex items-center gap-3">
            <div>
                <img src="/static/images/logo.svg" alt="logo">
            </div>
            <div class="text-[#FFFBEB] font-bold">
                <p>Personal Financial Records</p>
            </div>
        </div>
        <div>
            <div class="bg-[#FFFBEB] mx-auto py-10 rounded-xl flex flex-col gap-5 max-w-lg">

                <!-- tampilan flash message -->
                {% if tidak_sesuai %}
                <div class="p-4 mb-4 -mt-10 text-center text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
                    Password baru tidak sesuai dengan password lama!
                </div>
                {% elif kosong %}
                <div class="p-4 mb-4 -mt-10 text-center text-sm text-yellow-700 bg-yellow-100 rounded-lg dark:bg-yellow-200 dark:text-yellow-800" role="alert">
                    Form tidak boleh kosong!
                </div>
                {% elif tidak_cocok %}
                <div class="p-4 mb-4 -mt-10 text-center text-sm text-yellow-700 bg-yellow-100 rounded-lg dark:bg-yellow-200 dark:text-yellow-800" role="alert">
                    Password baru tidak cocok!
                </div>
                {% endif %}

                <div class="px-10 flex flex-col gap-5">
                    <p class="text-center text-3xl font-bold">Edit Profile</p>
                    <p class="text-center">Let’s start managing your money <br> with this application</p>
                    <form action="#" method="post">
                        <div class="flex flex-col gap-3">
                            <input class="bg-transparent border-2 px-5 py-3 rounded-md border-[#263159] text-[#263159]" type="text" placeholder="Name" name="name">
                            <input class="bg-transparent border-2 px-5 py-3 rounded-md border-[#263159] text-[#263159]" type="text" placeholder="Username" name="username">
                            <div class="relative">
                                <input class="bg-transparent border-2 px-5 py-3 rounded-md border-[#263159] text-[#263159] w-full" type="password" placeholder="Old Password" name="old-password" id="password">
                                <i class="fa-regular fa-eye-slash absolute -translate-x-10 translate-y-5 cursor-pointer" onclick="showPassword('password')"><button></button></i>
                            </div>
                            <div class="relative">
                                <input class="bg-transparent border-2 px-5 py-3 rounded-md border-[#263159] text-[#263159] w-full" type="password" placeholder="New Password" name="new-password" id="new-password">
                                <i class="fa-regular fa-eye-slash absolute -translate-x-10 translate-y-5 cursor-pointer" onclick="showPassword('new-password')"><button></button></i>
                            </div>
                            <div class="relative">
                                <input class="bg-transparent border-2 px-5 py-3 rounded-md border-[#263159] text-[#263159] w-full" type="password" placeholder="Re-enter New Password" name="renew-password" id="renew-password">
                                <i class="fa-regular fa-eye-slash absolute -translate-x-10 translate-y-5 cursor-pointer" onclick="showPassword('renew-password')"><button></button></i>
                            </div>
                            <textarea class="bg-transparent border-2 px-5 py-3 rounded-md border-[#263159] text-[#263159]" name="bio" cols="mx-auto" rows="mx-auto" placeholder="Bio"></textarea>
                        </div>
                        <div class="flex gap-28">
                            <a class="bg-red-500 border-2 px-5 py-3 rounded-md border-[#263159] text-[#FFFBEB] font-bold w-full mt-7 text-center hover:animate-pulse" href="{{ url_for('profile') }}">Back</a>
                            <input class="bg-[#263159] border-2 px-5 py-3 rounded-md border-[#263159] text-[#FFFBEB] font-bold w-full mt-7 hover:animate-pulse" type="submit" value="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="text-[#FFFBEB] text-sm">
            Copyright @ Kelompok 4 <br> Privacy policy
        </div>
    </div>
</body>
</html>