<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Profile</title>
</head>
<body">
    <div class="min-h-screen min-w-full flex bg-[#FFFBEB]">

        <!-- container untuk sidebar -->
        <div class="bg-[#263159] p-10 min-w-max flex flex-col justify-between">

            <!-- container untuk logo dan tombol samping -->
            <div>
                <!-- menampilkan logo -->
                <div class="flex items-center gap-3">
                    <div>
                        <img src="/static/images/logo.svg" alt="logo">
                    </div>
                    <div class="text-[#FFFBEB] font-bold">
                        <p>Personal Financial Records</p>
                    </div>
                </div>
    
                <!-- menampilkan pilihan menu pada sidebar -->
                <div class="-mr-10 text-center flex flex-col gap-5 mt-52">
                    <a href="{{ url_for('index') }}">
                        <div class="bg-transparent border-2 border-r-0 border-[#FFFBEB] py-3 flex gap-5 pl-10 rounded-l-xl hover:animate-pulse">
                            <img src="/static/images/light-Home.svg" alt="dashboard">
                            <p class="text-[#FFFBEB] font-bold">
                                Dashboard
                            </p>
                        </div>
                    </a>
    
                    <!-- link untuk menuju halaman profil -->
                    <a href="#">
                        <div class="bg-[#FFFBEB] py-3 flex border-2 border-[#FFFBEB] gap-5 pl-10 rounded-l-xl">
                            <img src="/static/images/dark-Profile.svg" alt="profile">
                            <p class="text-[#263159] font-bold">
                                Profile
                            </p>
                        </div>
                    </a>
    
                    <!-- link untuk keluar aplikasi -->
                    <a href="{{ url_for('logout') }}">
                        <div class="bg-transparent border-2 border-r-0 border-[#FFFBEB] py-3 flex gap-5 pl-10 rounded-l-xl hover:animate-pulse">
                            <img src="/static/images/light-Logout.svg" alt="logout">
                            <p class="text-[#FFFBEB] font-bold">
                                Logout
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        
            <!-- menampilkan copyright -->
            <div class="text-[#FFFBEB] text-sm">
                Copyright @ Kelompok 4 <br> Privacy policy
            </div>
        </div>

        <div class="p-10 w-full flex flex-col content-between">    
            <div class="mt-10 flex flex-col text-center">

                <!-- tampilan flash message -->
                {% for message in get_flashed_messages() %}
                    {% if 'danger' in message.category %}
                        <p class="text-center text-sm font-bold bg-red-300 px-5 py-3 text-[#263159] w-full mb-5">
                            {{ message }}
                        </p>
                    {% elif 'warning' in message.category %}
                        <p class="text-center text-sm font-bold bg-yellow-300 px-5 py-3 text-[#263159] w-full mb-5">
                            {{ message }}
                        </p>
                    {% elif 'success' in message.category %}
                        <p class="text-center text-sm font-bold bg-green-300 px-5 py-3 text-[#263159] w-full mb-5">
                            {{ message }}
                        </p>
                    {% endif %}
                {% endfor %}
            </div>

            <!-- container untuk membungkus add spending page -->
            <div class="flex flex-col rounded-xl" id="add_spending">
                <div>
                    <!-- tampilan flash message -->
                    {% for message in get_flashed_messages() %}
                        {% if 'danger' in message.category %}
                            <p class="text-center text-sm font-bold bg-red-300 px-5 py-3 text-[#263159] w-full mb-5">
                                {{ message }}
                            </p>
                        {% elif 'warning' in message.category %}
                            <p class="text-center text-sm font-bold bg-yellow-300 px-5 py-3 text-[#263159] w-full mb-5">
                                {{ message }}
                            </p>
                        {% elif 'success' in message.category %}
                            <p class="text-center text-sm font-bold bg-green-300 px-5 py-3 text-[#263159] w-full mb-5">
                                {{ message }}
                            </p>
                        {% endif %}
                    {% endfor %}
                    
                    <div class="flex gap-5 justify-center items-center mt-8">
                        <p class="text-4xl font-bold text-center">Profile</p>
                        <a href="{{ url_for('edit_profile') }}">
                            <img class="px-4 py-4 rounded-full bg-[#263159]" src="/static/images/light-Edit.svg" alt="edit">
                        </a>
                    </div>
                    <p class="text-lg font-bold mt-2 text-center">
                        {{ name }} Name
                    </p>
                    <p class="text-base mt-2 text-center">
                        - {{ bio }} -
                    </p>
                    
                    <div class="mx-64 my-7 text-center">
                        <div class="flex flex-col gap-3">
                            <p class="bg-transparent border-2 px-5 py-3 rounded-md border-[#263159] text-[#263159]">
                                {{ name }} nama
                            </p>
                            <p class="bg-transparent border-2 px-5 py-3 rounded-md border-[#263159] text-[#263159]">
                                {{ username }} username
                            </p>
                            <p class="bg-transparent border-2 px-5 py-3 rounded-md border-[#263159] text-[#263159]" id="password">
                                {{ password }} password
                            </p>
                            <p class="bg-transparent border-2 px-5 py-3 rounded-md border-[#263159] text-[#263159]">
                                {{ nominal }} nominal
                            </p>
                        </div>
                    </div>

                    <p class="text-base mt-2 text-center">
                        - Save money and money will save you -
                    </p>

                </div>
            </div>
        </div>
    </div>
</body>
</html>